<h1 class="page-title">Logo Design Entries</h1>
<section class="new-entry">
  <% if user_signed_in? %>
    <%= link_to 'New Logo Design Entry', new_logo_entry_path, :class => "btn" %>
  <% end %>
</section>

<section id="entries">
  <% @logo_entries.each do |logo_entry| %>
    <div class="entry">
      <%= link_to image_tag(logo_entry.image.url(:medium)), "#", :data => { :url => logo_entry.image.url, :user_name => logo_entry.user.name  }, :class => "entry_modal" %>
      <p class="submitted-by">Submitted by: <%= logo_entry.user.name %>
      <% if user_signed_in? %>
        <% if logo_entry.user.id == current_user.id %>
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, logo_entry, method: :delete, data: { confirm: 'Are you sure you want to delete your logo entry?' } %>
        <% end %>
      <% end %>
      </p>
    </div>
  <% end %>
</section>

<div class="reveal-modal">
  <img src="">
  <p class="submitted-by"></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
