/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _variables.scss
 * _mixins.scss
 * _utilities.scss
 * _typography.scss
 * _buttons.scss
 * _forms.scss
 * _lists.scss
 * _tables.scss
 * _library.scss     - Custom classes used throughout the app.
 * _module_name.scss - Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   - Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

/* TEMPLATE
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
body {
  color: $gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;

  @include media($tablet) {
    font-size: $base-font-size-tablet;
  }
}

.container {
  @include outer-container;
}

#main-content {
  min-height: 800px;
}

header {
  background: $red;
  color: $white;
  a {
    color: $white;
  }
  .meetup-signin {
    color: $white;
    float: right;
    margin: 1.5em 0;
  }
}

.site-intro {
  font-size: 2.25em;
  text-align: center;
}
.group-description {
  font-size: 1.15em;
  margin-bottom: 2em;
  text-align: center;
}

footer {
  background: $gray-lighter;
  color: $gray-light;
  padding: 1em 0;
  text-align: center;
}

.logo {
  @include span-columns(6);
  a {
    text-decoration: none;
  }
}

.logged-in {
  font-weight: bold;
  margin: 2em 0;
  text-align: right;
  @include span-columns(6);
  @include omega();
}

.entry {
  margin-bottom: 3em;
  padding: 0 1em;
  @include span-columns(12);
  @include omega();
  @include media($tablet){
    padding: 0;
    @include span-columns(4);
  }
  &:nth-of-type(3n+3) {
    @include omega();
  }
  img {
    max-width: 100%;
  }
}

.submitted-by {
  color: $gray;
  font-weight: bold;
  margin-top: 0;
  a {
    color: $gray;
    float: right;
    text-decoration: none;
  }
}

.page-title {
  @include span-columns(6);
}

.new-entry {
  @include span-columns(6);
  @include omega();
  @include pad(2em 0);
  .btn {
    float: right;
  }
}

.next-event {
  @include span-columns(12);
  @include omega();
  @include media($tablet){
    @include span-columns(6);
  }
  a {
    color: $red;
    text-decoration: none;
  }
}

.news {
  @include span-columns(12);
  @include omega();
  @include media($tablet){
    @include span-columns(6);
    @include omega();
  }
}

.meetup-signin {
  background: image-url('meetup_logo.png') no-repeat;
  background-size: 45px;
  border-radius: 3px;
  color: $red-dark;
  display: inline-block;
  font-weight: bold;
  padding: .55em .5em .55em 50px;
  text-decoration: none;
}