<section class="alerts">
  <% flash().each do |key, msg| %>
    <div class="alert alert-<%= key %> fade in">
      <%= msg %>
      <%= link_to '&times;'.html_safe, '#', :class => 'close'%>
    </div>
  <% end %>
</section>